<!doctype html>
<html lang="en">
  <head>
    <title>Interactive Map</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="node_modules/leaflet/dist/leaflet.css">

    <link rel="stylesheet" href="styles.css">

  </head>
  <body>
    <div id="app" class="container">
      <!-- The rest of the app goes here -->
      <div class="row">
        <div class="col-md-9">
          <!-- The map goes here -->
          <div id="map" class="map"></div>
        </div>
        <div class="col-md-3">
          <!-- The layer checkboxes go here -->
          <div class="form-check" v-for="layer in layers" :key="layer.id">
            <!-- label and input elements go here -->
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" v-model="layer.active" @change="layerChanged(layer.id, layer.active)"/>
              {{ layer.name }}
            </label>
          </div>
        </div>
      </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <script src="node_modules/leaflet/dist/leaflet.js"></script>

    <script type="text/javascript" src="app.js"></script>
    
  </body>
</html>